/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.navbar {
  padding: 15px 85px;
  border-bottom: 1px solid #ddd5ce;
}
.navbar ul li a {
  color: black;
}
.navbar img {
  width: 45px;
  height: 45px;
}
.navbar .univ-stras {
  width: 100%;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar ul .navbar-logo a {
  display: flex;
  align-items: center;
}
.navbar-logo a h2 {
  max-width: 95px;
  text-align: center;
  font-size: 18px;
  padding-left: 5px;
  font-weight: 800;
}
.navbar ul ul {
  display: flex;
  justify-content: space-between;
}
.navbar ul ul li {
  margin-left: 25px;
}

/* styling for description section */
.description-content {
  margin: 0 20%;
  padding-top: 135px;
}

.description-content {
  background-color: #f1ece8;
  padding-top: 10px;
  position: relative;
}
.description-content .header-section {
  background-color: #ed0210;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 6px 16px;
  position: absolute;
  position: absolute;
  top: 0;
  left: 50%; /* Position the left edge of the element at the middle of the parent */
  transform: translate(-50%, -50%);
}
.description-main-section h2 {
  padding: 30px 0;
  font-weight: 600;
  font-size: 30px;
}

.description-main-section h2,
.description-main-section p,
.description-main-section h3 {
  text-align: center;
}

.description-main-section p {
  max-width: 88%;
  margin: 0 auto;
  font-size: 18px;
}
.description-main-section h3 {
  padding-top: 40px;
  font-size: 25px;

  font-weight: 500;
}
.description-main-section div ul {
  padding: 45px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.description-main-section div ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-main-section div ul li img {
  padding-bottom: 20px;
  width: 45px;
}

/* Styling for aide section */
.aide-section {
  background-color: #f7f7f7;
  padding-bottom: 65px;
}
.aide-section .aide {
  margin: 0 15%;
  display: flex;
  flex-direction: column;
}

.aide-section h2 {
  font-size: 30px;
  padding-top: 30px;
  font-weight: 500;
  text-align: center;
}

.aide-description-section ul:first-child {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.aide-description-section ul:first-child li {
  font-size: 18px;
}

.aide-description-section > h4 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.avantage-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
}
.avantage-section li {
  max-width: 28%;
  margin-bottom: 60px;
}
.avantage-section li h4 {
  padding-bottom: 10px;
  font-size: 18px;
}
.avantage-section li p {
  font-size: 14px;
}

.button-div a:first-child {
  margin-right: 45px;
  color: white;
  background-color: #f05b6f;
  border-color: #f05b6f;
}
.button-div a {
  color: black;
  border: 1px solid black;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 25px;
}
